@using PageTerminal.Models
@using System.Linq;
@model CommandsAndHistory

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="menu"> 
                <a href="#"> 
                    <svg width="183" height="50" viewBox="0 0 183 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.11241 8.25486C3.50817 9.37991 2.20554 10.8684 1.31562 12.5932C0.425698 14.3181 -0.0250997 16.2282 0.00167598 18.1607V31.7413C-0.0349687 33.9074 0.529918 36.0426 1.63597 37.9187C2.74203 39.7947 4.34768 41.3412 6.28136 42.3927L16.7475 48.3043C18.6413 49.414 20.8068 50 23.0136 50C25.2204 50 27.3859 49.414 29.2797 48.3043L39.7458 42.3927C41.6725 41.3354 43.271 39.787 44.3718 37.9117C45.4727 36.0364 46.0347 33.9042 45.9983 31.7413V18.1607C46.0251 16.2282 45.5743 14.3181 44.6844 12.5932C43.7945 10.8684 42.4918 9.37991 40.8876 8.25486V30.4365C40.9303 32.1222 40.5054 33.7876 39.658 35.2554C38.8106 36.7232 37.5726 37.9383 36.0759 38.7712L27.9204 43.378C26.4453 44.2412 24.7591 44.697 23.0408 44.697C21.3225 44.697 19.6362 44.2412 18.1611 43.378L10.0057 38.7712C8.50805 37.953 7.2632 36.7545 6.40211 35.3018C5.54102 33.8492 5.0955 32.1961 5.11241 30.5164V8.25486ZM20.4446 0.266287C21.2768 0.0987592 22.1233 0.0095901 22.9728 0C23.8134 0.00812866 24.6511 0.097322 25.4738 0.266287V26.5487C25.4764 26.789 25.4152 27.0259 25.296 27.236C25.1768 27.4461 25.0039 27.6222 24.7942 27.747L23.6252 28.4127C23.4136 28.5294 23.1749 28.5906 22.932 28.5906C22.6892 28.5906 22.4505 28.5294 22.2388 28.4127L21.0699 27.747C20.8551 27.6255 20.6768 27.4509 20.5527 27.2405C20.4286 27.0302 20.3632 26.7916 20.3631 26.5487V0.266287H20.4446ZM10.2231 5.37898L15.3339 2.47646V27.8801C15.3243 28.6005 15.5138 29.31 15.8823 29.9335C16.2508 30.5569 16.7846 31.0712 17.4271 31.4217L20.934 33.3923C21.5634 33.7578 22.2818 33.9508 23.0136 33.9508C23.7454 33.9508 24.4637 33.7578 25.0932 33.3923L28.5729 31.4217C29.2104 31.0677 29.7387 30.552 30.1022 29.9287C30.4658 29.3055 30.6512 28.5978 30.6389 27.8801V2.47646L35.7497 5.37898V29.1849C35.7711 30.3867 35.4587 31.5716 34.8458 32.6128C34.2329 33.6541 33.3425 34.5126 32.27 35.0965L26.4525 38.3984C25.4002 39.0128 24.1979 39.3372 22.9728 39.3372C21.7478 39.3372 20.5455 39.0128 19.4932 38.3984L13.7028 35.0965C12.6272 34.5139 11.733 33.6564 11.1154 32.6154C10.4979 31.5744 10.1801 30.3888 10.196 29.1849L10.2231 5.37898Z" fill="url(#paint0_linear_203_1895)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.1974 20.0008H68.7323L65.7261 26.7613C65.3653 27.6026 64.9745 28.6843 64.6739 29.766C64.3733 28.8345 63.9824 27.7829 63.6217 26.9716L60.6154 20.1511H58L64.0125 32.8608H65.7261L71.2876 20.1511L71.1974 20.0008ZM86.4993 29.4655C85.4013 30.3464 84.0289 30.8143 82.6212 30.7875C82.0895 30.837 81.5532 30.7802 81.0436 30.6206C80.534 30.461 80.0612 30.2017 79.6528 29.8578C79.2444 29.5139 78.9084 29.0922 78.6645 28.6174C78.4206 28.1425 78.2736 27.624 78.2321 27.0918H87.9122C88.0178 26.5982 88.0682 26.0943 88.0625 25.5895C88.0854 24.805 87.9437 24.0245 87.6464 23.2981C87.3491 22.5718 86.9029 21.9157 86.3364 21.3722C85.77 20.8288 85.0959 20.4099 84.3577 20.1426C83.6194 19.8754 82.8333 19.7657 82.05 19.8206C81.1779 19.7764 80.3062 19.9171 79.4923 20.2333C78.6784 20.5496 77.9407 21.0344 77.3274 21.6558C76.7142 22.2772 76.2394 23.0212 75.9342 23.839C75.629 24.6567 75.5003 25.5298 75.5565 26.4008C75.5111 27.2924 75.6564 28.1835 75.9827 29.0145C76.3091 29.8456 76.809 30.5976 77.4491 31.2203C78.0892 31.843 78.8548 32.3222 79.6949 32.6258C80.5349 32.9294 81.43 33.0504 82.3206 32.9809C84.0411 33.0128 85.7159 32.4264 87.0404 31.3284L86.349 29.5556L86.4993 29.4655ZM82.1101 21.8337C82.5745 21.7963 83.0416 21.8556 83.4819 22.0079C83.9221 22.1601 84.326 22.4021 84.6679 22.7184C85.0098 23.0347 85.2823 23.4184 85.4682 23.8454C85.654 24.2724 85.7492 24.7333 85.7477 25.1989H78.0818C78.1882 24.2265 78.667 23.3329 79.418 22.7056C80.169 22.0782 81.1337 21.7658 82.1101 21.8337ZM94.8266 32.6204H97.0512V23.6064C97.5009 23.1011 98.0516 22.6956 98.6678 22.4161C99.284 22.1366 99.952 21.9894 100.629 21.9839C102.974 21.9839 104.176 23.2158 104.176 25.8299V32.7105H106.431V25.3191C106.431 21.383 104.447 19.7905 101.17 19.7905C100.4 19.7998 99.6401 19.9612 98.9332 20.2654C98.2264 20.5697 97.5867 21.0108 97.0512 21.5633V20.0008H94.8266V32.6204ZM123.145 32.6204H125.37V13H123.145V20.6318C122.212 19.9882 121.091 19.6713 119.959 19.7304C119.06 19.6804 118.16 19.817 117.316 20.1317C116.472 20.4464 115.702 20.9324 115.055 21.559C114.409 22.1857 113.899 22.9394 113.558 23.7726C113.217 24.6059 113.052 25.5008 113.075 26.4008C113.017 27.2246 113.129 28.0514 113.406 28.8298C113.682 29.6081 114.115 30.3213 114.68 30.9246C115.244 31.528 115.926 32.0086 116.685 32.3366C117.443 32.6645 118.261 32.8327 119.087 32.8307C119.845 32.8258 120.594 32.6599 121.283 32.3439C121.973 32.0279 122.587 31.5691 123.085 30.9979V32.6204H123.145ZM119.568 30.7275C118.998 30.7473 118.431 30.6453 117.904 30.4281C117.377 30.2109 116.903 29.8836 116.513 29.4682C116.123 29.0527 115.826 28.5588 115.643 28.0194C115.459 27.48 115.393 26.9076 115.449 26.3407C115.437 25.7376 115.548 25.1383 115.775 24.5797C116.003 24.0212 116.343 23.5151 116.774 23.0929C117.205 22.6706 117.718 22.341 118.281 22.1244C118.844 21.9079 119.446 21.8089 120.049 21.8337C121.126 21.8644 122.171 22.2091 123.055 22.8252V29.0449C122.603 29.5514 122.053 29.9615 121.438 30.2506C120.823 30.5397 120.157 30.7019 119.478 30.7275H119.568ZM133.728 32.6204H135.982V20.0008H133.728V32.6204ZM133.457 15.2835C133.448 15.4752 133.48 15.6666 133.549 15.8454C133.619 16.0242 133.725 16.1867 133.861 16.3223C133.996 16.458 134.159 16.5639 134.338 16.6334C134.517 16.7028 134.708 16.7343 134.9 16.7258C135.177 16.7198 135.446 16.6327 135.673 16.4753C135.901 16.3179 136.077 16.0971 136.181 15.8403C136.284 15.5835 136.309 15.3021 136.254 15.031C136.198 14.7599 136.064 14.511 135.869 14.3153C135.673 14.1197 135.424 13.9858 135.153 13.9304C134.881 13.8749 134.6 13.9003 134.343 14.0035C134.086 14.1066 133.865 14.2829 133.708 14.5105C133.55 14.7381 133.463 15.0069 133.457 15.2835ZM150.713 29.1951C150.713 30.3369 149.661 30.9378 148.488 30.9378C147.115 30.8581 145.816 30.2937 144.821 29.3453L143.558 30.9378C144.16 31.5636 144.885 32.0597 145.686 32.3955C146.487 32.7314 147.349 32.8999 148.218 32.8908C150.743 32.8908 153.088 31.749 153.088 29.0749C153.088 24.6581 146.294 26.0702 146.294 23.2459C146.294 22.4046 147.045 21.6835 148.308 21.6835C149.423 21.7306 150.487 22.1665 151.314 22.9154L152.396 21.2027C151.172 20.1966 149.621 19.673 148.037 19.7304C145.542 19.7304 143.768 21.0825 143.768 23.2759C143.768 27.9031 150.563 26.6411 150.563 29.2852L150.713 29.1951ZM159.732 27.8129C159.732 31.0279 160.844 32.8307 163.67 32.8307C164.838 32.8438 165.978 32.4744 166.917 31.7791L166.255 30.0965C165.687 30.5363 164.99 30.7789 164.271 30.7875C162.678 30.7875 162.046 29.6458 162.046 27.7829V22.1041H166.646V20.0008H161.926V16.5154H159.671V27.8129H159.732ZM174.282 22.675C175.325 22.0483 176.522 21.7257 177.739 21.7435C180.234 21.7435 180.745 23.3661 180.745 25.7097C179.837 25.1677 178.797 24.8869 177.739 24.8984C175.033 24.8984 172.989 26.3407 172.989 28.9247C172.949 29.4413 173.021 29.9605 173.2 30.447C173.378 30.9334 173.66 31.3756 174.025 31.7434C174.39 32.1113 174.83 32.3961 175.316 32.5786C175.801 32.761 176.32 32.8368 176.837 32.8007C177.604 32.8409 178.369 32.6984 179.069 32.3849C179.769 32.0715 180.385 31.596 180.866 30.9979V32.6204H183V24.8684C183 21.5933 181.737 19.7304 178.16 19.7304C176.68 19.7291 175.227 20.1233 173.951 20.8722L174.552 22.675H174.282ZM177.288 30.7875C175.845 30.7875 175.033 30.0063 175.033 28.8045C175.033 27.6026 176.386 26.7313 177.709 26.7313C178.718 26.6964 179.71 26.9918 180.535 27.5726V29.165C180.169 29.6529 179.698 30.0521 179.157 30.333C178.616 30.6139 178.018 30.7693 177.408 30.7875H177.288Z" fill="white"/>
                        <defs>
                        <linearGradient id="paint0_linear_203_1895" x1="82.29" y1="83.1078" x2="-33.8119" y2="-35.4463" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4CA4B1"/>
                        <stop offset="1" stop-color="#6FBCA1"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </a>
                <p>
                    Личный кабинет - Отправка команды на терминал
                </p>
                <div class="cabinet">
                    <a href="#">
                        <div class="personal">
                            <svg width="30" height="30" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9292 14.1684C15.5792 13.3393 15.0713 12.5862 14.4337 11.9511C13.7981 11.3141 13.0451 10.8063 12.2164 10.4556C12.209 10.4519 12.2016 10.45 12.1941 10.4463C13.3501 9.61133 14.1016 8.25127 14.1016 6.7168C14.1016 4.1748 12.042 2.11523 9.5 2.11523C6.95801 2.11523 4.89844 4.1748 4.89844 6.7168C4.89844 8.25127 5.6499 9.61133 6.80586 10.4481C6.79844 10.4519 6.79102 10.4537 6.78359 10.4574C5.95234 10.8081 5.20645 11.3109 4.56631 11.9529C3.92934 12.5886 3.42149 13.3415 3.0708 14.1702C2.72628 14.9815 2.54047 15.8514 2.52344 16.7326C2.52294 16.7524 2.52642 16.7721 2.53365 16.7906C2.54089 16.809 2.55175 16.8258 2.56558 16.84C2.57941 16.8542 2.59595 16.8654 2.6142 16.8731C2.63246 16.8808 2.65207 16.8848 2.67188 16.8848H3.78516C3.8668 16.8848 3.93174 16.8198 3.93359 16.74C3.9707 15.3076 4.5459 13.9661 5.5627 12.9493C6.61475 11.8973 8.01191 11.3184 9.5 11.3184C10.9881 11.3184 12.3853 11.8973 13.4373 12.9493C14.4541 13.9661 15.0293 15.3076 15.0664 16.74C15.0683 16.8217 15.1332 16.8848 15.2148 16.8848H16.3281C16.3479 16.8848 16.3675 16.8808 16.3858 16.8731C16.4041 16.8654 16.4206 16.8542 16.4344 16.84C16.4483 16.8258 16.4591 16.809 16.4663 16.7906C16.4736 16.7721 16.4771 16.7524 16.4766 16.7326C16.458 15.8457 16.2743 14.9829 15.9292 14.1684V14.1684ZM9.5 9.9082C8.64834 9.9082 7.84678 9.57607 7.24375 8.97305C6.64072 8.37002 6.30859 7.56846 6.30859 6.7168C6.30859 5.86514 6.64072 5.06357 7.24375 4.46055C7.84678 3.85752 8.64834 3.52539 9.5 3.52539C10.3517 3.52539 11.1532 3.85752 11.7563 4.46055C12.3593 5.06357 12.6914 5.86514 12.6914 6.7168C12.6914 7.56846 12.3593 8.37002 11.7563 8.97305C11.1532 9.57607 10.3517 9.9082 9.5 9.9082Z" fill="#4D7471"/>
                            </svg>
                        <p class="logo__txt">
                            Партнёр
                        </p>
                    </div>
                    </a>
                    <a href="#">
                        <svg width="28" height="28" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.5625 17.8125H10.6875C11.0023 17.8122 11.3042 17.687 11.5268 17.4643C11.7495 17.2417 11.8747 16.9398 11.875 16.625V14.8438H10.6875V16.625H3.5625V2.375H10.6875V4.15625H11.875V2.375C11.8747 2.06015 11.7495 1.75829 11.5268 1.53566C11.3042 1.31303 11.0023 1.18781 10.6875 1.1875H3.5625C3.24765 1.18781 2.94579 1.31303 2.72316 1.53566C2.50053 1.75829 2.37531 2.06015 2.375 2.375V16.625C2.37531 16.9398 2.50053 17.2417 2.72316 17.4643C2.94579 17.687 3.24765 17.8122 3.5625 17.8125Z" fill="#4D7471"/>
                            <path d="M12.2229 12.2229L14.3521 10.0938H5.9375V8.90625H14.3521L12.2229 6.77706L13.0625 5.9375L16.625 9.5L13.0625 13.0625L12.2229 12.2229Z" fill="#4D7471"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div> 
    </header>
    <main>
        <section class="content">
            <div class="container">
                <div class="main__section">
                    <div class="sidebar">
                        <ul class="list">
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/userr.svg" alt="">
                                <h4 class="subtitle">Клиенты</h4>
                            </li>
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/users.svg" alt="">
                                <h4 class="subtitle">Пользователи</h4>
                            </li>
                            <li class="sidebar__line sidebar__after">
                                <img class="sidebar__img" src="~/images/terminal.svg" alt="">
                                <h4 class="subtitle subtitle__after">Терминалы</h4>
                            </li>
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/bank.svg" alt="">
                                <h4 class="subtitle">TID Банка</h4>
                            </li>
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/coin.svg" alt="">
                                <h4 class="subtitle">Транзакции</h4>
                            </li>
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/doc.svg" alt="">
                                <h4 class="subtitle">Логи терминалов</h4>
                            </li>
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/cashregister.svg" alt="">
                                <h4 class="subtitle">Кассы</h4>
                            </li>
                            <li class="sidebar__line">
                                <img class="sidebar__img" src="~/images/terminal.svg" alt="">
                                <img class="sidebar__img" src="~/images/userr.svg" alt="">
                                <h4 class="subtitle">Привязать терминалы к клиенту списком</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="main__content">
                        <h4 class="content__title">Отправка команды на терминал</h4>
                        <form method="post" class="terminal__content" action="~/TerminalCommand/GetAllParametres">
                            <div class="terminal__input">
                                <div class="id__terminal">
                                    <h4>ID Терминала(ов)</h4>
                                    <input name="idTerminal" class="input__id" type="number">
                                </div>
                                <div class="command">
                                    <h4>Команда</h4>
                                    <select id="selectCommand" name="selectCommand" class="select__command">
                                        <option class="commandactive" value="" selected hidden>Выберите команду</option>
                                        <option disabled>Не выбрано</option>
                                        @for (var i = 0; i < Model.commands.items.Length; i++)
                                       {
                                           if (Model.commands.items[i].visible)
                                           {
                                               <option value = "@Model.commands.items[i].id">@Model.commands.items[i].name</option>
                                           }
                                       }
                                    </select>
                                </div>

                            </div>
                            <div class="wrapper" id="wrapper">
                                <div class="wrapper__input">
                                    <h4>Параметр 1</h4>
                                    <input class="input__wrapper" id="parametr1" name="parametr1" type="number" />
                                </div>
                                <div class="wrapper__input">
                                    <h4>Параметр 2</h4>
                                    <input class="input__wrapper" id="parametr2" name="parametr2" type="number" />
                                </div>
                                <div class="wrapper__input">
                                    <h4>Параметр 3</h4>
                                    <input class="input__wrapper" id="parametr3" name="parametr3" type="number" />
                                </div>
                            </div>

                            <div class="main__btns">
                                <input type="submit" class="btn btn__back" value="Назад">
                                <input type="submit" class="btn btn__send" value="Отправить">
                            </div>
                            
                        </form>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Дата и время</th>
                                        <th>Команда</th>
                                        <th>Параметр 1</th>
                                        <th>Параметр 2</th>
                                        <th>Параметр 3</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.historyCommands.items.Length; i++)
                                   {
                                       <tr>
                                        <td>@(i + 1)</td>
                                        <td>@Model.historyCommands.items[i].time_created</td>
                                        <td>@Model.GetNameCommand(@Model.historyCommands.items[i].command_id)</td>
                                        <td>@Model.historyCommands.items[i].parameter1</td>
                                        <td>@Model.historyCommands.items[i].parameter2</td>
                                        <td>@Model.historyCommands.items[i].parameter3</td>
                                        <td>@Model.historyCommands.items[i].state_name</td>
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
    
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>